@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Climate+Crisis&family=Josefin+Sans:ital,wght@1,200&display=swap');
:root{
    --dark: #464747;
    --text: #993871;
    --shadow: rgb(114 4 68);
	  --bg: rgb(109, 99, 119);
    --box: #201f1f;
}
body {
  background-color: var(--bg);
  margin-bottom: 50px;
}
#name{
  text-shadow: 4px 4px var(--shadow); 
  font-size: 60px;   
  font-family: 'Anton', sans-serif;
  margin-top: -10px;
}
button {
  cursor: pointer;
  text-align: center;
  background: var(--dark);
  color: var(--text);
  font-size: 22px;
  font-family: 'Anton', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  border-color: var(--text);
  text-shadow: 1px 1px var(--shadow);    cursor: pointer;
  margin-top: 5px;
}
.container {
  margin: 10px auto 20px auto;
  border: 5px solid var(--text);
  border-radius: 20px;
  text-align: center;
  color: var(--dark);
  background-color: #5b595c;
  width: 400px;
}
img {
  text-align: center;
  margin-bottom: 10px;
}
body {
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
#kysymys{
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: -20px;
}
#noppa{
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
}
#pelaajat{
  cursor: pointer;
  text-align: center;
  background: var(--dark);
  color: var(--text);
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  border-color: var(--text);
  text-shadow: 1px 1px var(--shadow); 
}
#text1{
  cursor: pointer;
  text-align: center;
  background: var(--dark);
  color: var(--text);
  font-size: 22px;
  font-family: 'Anton', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  border-color: var(--text);
  text-shadow: 1px 1px var(--shadow);
  width: 200px;
}
#scores{
  font-size: 20px;
  color: white;
  margin-left: -10%;
}
#voittaja{
  background-color: var(--box);
  color: var(--text);
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  width: 250px;
}
@media (max-width: 800px) {
	#name {
	  font-size: 50px; 
	}
  .container{
    width: 300px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #pelit{
    width: 100px;
  }
  #voittaja{
    font-size: 25px;
  }
}